---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.png"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Hello from Teki! This is my personal blog, where I will talk about my life in Japan as a foreigner and software developer, as well as my hobbies such as hiking and reading. I'll be sharing my experiences, insights, and tips, and I hope you'll find them interesting and helpful. Thank you for visiting!
      </p>
      <Link
        href="mailto:w2495969292@gmail.com"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</MainLayout>
